<h1>Insert the form to create a new instance of your model.</h1>

<h1>Add a New Yoga Class</h1>

<form action="/yogaclasses" method="POST">
  <label for="yogaclass"> Yogaclass </label>
  <input type="text" name="yogaclass" id="yogaclass"> </br>
  <label for="instructor"> Instructor </label>
  <input type="text" name="instructor" id="instructor"> </br>
  <label for="description"> Description </label>
  <input type="text" name="description" id="description"> </br>
  <label for="date"> Date </label>
  <input type="text" name="date" id="date"> </br>
  <input type="submit" value="submit">
</form>
