
<h2>Add a New Yoga Class</h2>

<form action="/yogaclasses" method="POST">
  <label for="yogaclass"> Enter the Yoga Level Here: </label>
  <input type="text" name="yogaclass" id="yogaclass"> </br>
  <label for="instructor"> Instructor </label>
  <input type="text" name="instructor" id="instructor"> </br>
  <label for="description"> Anything special you want to share about the class? </label>
  <input type="text" name="description" id="description"> </br>
  <label for="date"> Date </label>
  <input type="text" name="date" id="date"> </br>
  <input type="submit" value="submit">
</form>


<a href="/yogaclasses"> <br> View all classes taken in the Yogathon</a>
