<h1>You successfully added this yoga class.</h1>

<h2><%= @yogaclass.yogaclass %></h2>
<p>Instructor: <%= @yogaclass.instructor %></p>
<p>Description: <%= @yogaclass.description %></p>
<p>Date: <%= @yogaclass.date %></p>
