<h2>Yogathon Leaderboard!</h2>

<% @users.each do |user| %>
  <div>
    <%= user.username %> <%=user.yogaclasses.count%>
  </div>
<% end %>

<h3>What next?</h3>
<a href="/yogaclasses"> <br> View all classes taken in the Yogathon</a>
<a href="/yogaclasses/new"> <br> Add a class to your profile</a>
<a href="/users/<%= current_user.slug %>"> <br> View your profile</a>
