<h1>Sign Up For the Mt. Pleasant Yogathon Here!</h1>

<h3>Complete 25 classes in 30 days and be entered for prizes!</h3>
<p>The grand prize is a $100 drawing at the Well. Second prize is a $20 gift certificate at Elle.</p>
<p>We are also giving away 5 prizes of a month of free yoga.</p>
<p>Hurry, the Yogathon Starts May 1!</p>


<form action="/signup" method="POST">
	<input type="text" name="username" placeholder="Username:">
  <input type="text" name="email" placeholder="Email:">
	<input type="password" name="password" placeholder="Password:">
	<input type="submit" value="Sign Up">
</form>
