<h1><%= @user.username%>'s Yogathon Classes</h1>

<br>

<h2>Here are all of the classes that you have taken as a part of the Yogathon.</h2>

<% @user.yogaclasses.each do |yogaclass| %>
  <p>  <%= yogaclass.yogaclass %> </p>
<% end %>
