<!doctype html>
<html>
  <head>
    <title>Yogathon Tracker</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome To The Mt. Pleasant Yoga Yogathon Page!</h1>
    </div>

      <a href="/login"> <br> Click here to log in</a>
      <br>
      <a href="/signup"> <br> Click here to sign up</a>

  </body>
</html>
