<!doctype html>
<html>
  <head>
    <title>Yogathon Tracker</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome To The Mt. Pleasant Yoga Yogathon Page!</h1>
    </div>

      <h2> Click here to sign up </h2>
      <h2> Click here to log in </h2>

  </body>
</html>
